<div class="container">
  <!-- Columna Izquierda -->
  <div class="left-column">
    <% if @pelicula.foto.attached? %>
      <div class="pelicula-image">
        <%= image_tag @pelicula.foto, class: 'pelicula-img' %>
      </div>
    <% end %>

    <div class="pelicula-details">
      <p><strong>Año:</strong> <%= @pelicula.anio %></p>
      <p><strong>Duración:</strong> <%= @pelicula.duracion %> minutos</p>
      <p><strong>Director:</strong> <%= @pelicula.director %></p>
      <p><strong>Géneros:</strong>
        <% @pelicula.generos.each do |genero| %>
          <span><%= genero.nombre %></span><% if genero != @pelicula.generos.last %>-<% end %>
        <% end %>
      </p>
      
      <!-- Lista de Actores -->
      <p><strong>CAST:</strong></p>
      <div class="actor-list">
        <% @pelicula.actors.each do |actor| %>
          <div class="actor-info">
            <% if actor.photo_actor.attached? %>
              <%= image_tag actor.photo_actor, class: 'actor-photo', size: '50x50' %>
            <% end %>
            <span><%= actor.name %></span>
          </div>
        <% end %>
      </div>

      <!-- Plataformas -->
      <p><strong>Plataformas:</strong></p>
      <% @pelicula.plataforms.each do |plataforma| %>
        <div class="plataforma-info">
          <% if plataforma.photo_plataform.attached? %>
            <%= image_tag plataforma.photo_plataform, class: 'plataform-photo', size: '50x50' %>
          <% end %>
          <span><%= plataforma.name_p %></span>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Columna Derecha -->
  <div class="right-column-content">
    <h1 class="pelicula-title"><%= @pelicula.titulo %></h1>
    <p class="synopsis"><strong>Sinopsis:</strong> <%= @pelicula.sinopsis %></p>
    <p><strong>Valoración Promedio: </strong><%= @pelicula.average_rating || 'Sin valoraciones' %></p>

    <!-- Video -->
    <% if @pelicula.video.attached? %>
      <div class="pelicula-video">
        <%= video_tag url_for(@pelicula.video), controls: true, class: 'pelicula-video-tag' %>
      </div>
    <% end %>

  <!-- Valoración -->
  <h2>Valorar esta película</h2>
  <% if user_signed_in? %>
    <% if admin_user? %>
      <p>Los administradores no pueden dar una valoración.</p>
    <% else %>
      <% user_rating = @pelicula.ratings.find_by(user: current_user) || @pelicula.ratings.new %>
      <%= form_with model: [@pelicula, user_rating], local: true do |form| %>
        <div class="field">
          <%= form.label :score, "Calificación (1-5)" %>
          <%= form.number_field :score, in: 1..5, step: 1, value: user_rating.score, class: "rating-field" %>
        </div>
        <div class="rating-actions">
          <%= form.submit user_rating.persisted? ? "Actualizar" : "Enviar", class: "rating-submit" %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>Inicia sesión para valorar esta película.</p>
  <% end %>

  <!-- Comentarios -->
  <h3>Agregar Comentario</h3>
  <% if !admin_user? %>
    <%= form_with model: [@pelicula, Comment.new], local: true do |form| %>
      <div class="field">
        <%= form.label :content, "Escribe tu comentario" %>
        <%= form.text_area :content, rows: 4, class: "comment-field" %>
      </div>
      <div class="comment-actions">
        <%= form.submit "Agregar Comentario", class: "comment-submit" %>
      </div>
    <% end %>
  <% end %>


    <h3>Comentarios</h3>
    <% @pelicula.comments.order(created_at: :desc).each do |comment| %>
      <div class="comment">
        <p><strong><%= comment.user.email %>:</strong> <%= comment.content %></p>
        <% if comment.user == current_user %>
          <%= link_to 'Eliminar', pelicula_comment_path(@pelicula, comment), data: { turbo_method: :delete } %>
        <% end %>
      </div>
    <% end %>
    
  </div>


</div>

<div class="button-actions">
  <% if admin_user? %>
    <%= link_to 'Editar', edit_pelicula_path(@pelicula), class: 'action-edit' %>
    <%= form_with(model: @pelicula, method: :delete, local: true) do %>
      <%= submit_tag 'Eliminar', class: 'action-delete' %>
    <% end %>
  <% end %>
  <%= link_to 'Salir', peliculas_path, class: 'action-exit' %>
</div>
